/* portfolio list block start */
.portfolio-list{
	padding-top: 64px;
	margin: 0 0 120px 79px;
	&__01{
		background: url("../img/img_portfolio.png") no-repeat;
		background-size: cover;
		padding: 139px 0 0 105px;
	}
	&__02{
		background: url("../img/img_portfolio-02.png") no-repeat;
		background-size: cover;
		padding: 139px 0 0 105px;
	}
	&__03{
		background: url("../img/img_portfolio-02.png") no-repeat;
		background-size: cover;
		padding: 139px 0 0 105px;
	}
	&__04{
		background: url("../img/img_portfolio-02.png") no-repeat;
		background-size: cover;
		padding: 139px 0 0 105px;
	}
	.portfolio-block__subdscrpt{
		margin-bottom: 48px;
		p{
			font: 0.75rem $RalewayRegular; /* or 18px */
			line-height: 150%;
			font-feature-settings: 'pnum' on, 'lnum' on;
			color: $light-gray-color;
			span{
				color: #FFFFFF;
			}
		}
	}
	&__link{
		display: none;
		align-items: center;
		color: $primary-color;
		margin-bottom: 48px;
		font: 1rem $RalewayBold;
		line-height: 19px;
		font-feature-settings: 'pnum' on, 'lnum' on;
		&:hover{ color: #1AB0FF; }
		img{
			padding-right: 16px;
		}

	}
}
.grayscale-hover{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index:0;
	&:hover, &:focus {
		filter:none;
		transition: 1.3s;
	}
	&:hover .portfolio-list__link{
		display: flex;
		-webkit-animation: slide-down 1.3s ease-out;
		-moz-animation: slide-down 1.3s ease-out;
	}
	@-webkit-keyframes slide-down {
		0% { opacity: 0; -webkit-transform: translateY(-100%); }
		100% { opacity: 1; -webkit-transform: translateY(0); }
	}
	@-moz-keyframes slide-down {
		0% { opacity: 0; -moz-transform: translateY(-100%); }
		100% { opacity: 1; -moz-transform: translateY(0); }
	}
}
/* portfolio list block end */

