@media screen and (min-width: 320px) and (max-width: 360px) {
	/* header block start */
	.header-block{
		padding-bottom: 46px;
		.container {
			padding: initial;
			margin: 0;
		}
		&__title {
			text-align: center;
			margin: 160px 0 0;
			h1 {
				font: 2.25rem $RalewayBold;
				text-transform: initial;
				line-height: 66px;
			}
		}
		&__content {
			margin: 36px 0 56px;
			img { display: none; }
		}
		&__text{
			width: initial;
			text-align: center;
			margin: 0;
		}
		&__action{
			text-align: center;
			.header-block__slide01{	margin: 0 10px 0 0; }
			.header-block__slide02{	margin: 0 0 0 10px; }
			.header-block__arrow{ display: none; }
		}
		&__portfolio {
			margin-bottom: 149px;
			text-align: center;
			a{ display: initial; }
		}
		.order-12 { order: 12; }
		.order-2 { order: 2; }
	}
	/* header block end */
	/* Marketing Block start */
	.marketing-block{
		padding-left: 0;
		&__title{ margin: 60px 0 39px;
			h2{
				font-size: 1.5rem;
				line-height: 120%;
			}
		}
		&__content{
			margin: 0 0 60px;
			.content-list{ padding: 0; }
		}
	}
	/* Marketing Block end */
	/* Portfolio Block start */
	.portfolio-block{
		margin-bottom: 0;
		&__01,
		&__02,
		&__03{
			padding: 60px 0; }
	}
	/* Portfolio Block end */
	/* Request Block start */
	.dark-text.request-block{
		padding: 60px 0 68px;
		border-bottom: 1px solid $light-gray-color;
		.request-block__form{ padding-bottom: 0; }
		.form-sendbtn{
			width: 100%;
			display: inline-block;
			align-items: unset;
		}
	}
	/* Request Block end */
	/* Footer Block start */
	.dark-text.footer-block .footer-social {
		margin: 0 20px;
		svg{ margin: 10px 0; }
	}
	/* Footer Block end */
}
@media screen and (min-width: 361px) and (max-width: 479px) {
	.container{ padding-left: 15px; }
	/* header block start */
	.header-block{
		padding-bottom: 46px;
		.container {
			padding: initial;
			margin: 0;
		}
		&__title {
			text-align: center;
			margin: 160px 0 0;
			h1 {
				font: 2.25rem $RalewayBold;
				text-transform: initial;
				line-height: 66px;
			}
		}
		&__content {
			margin: 36px 0 56px;
			img { display: none; }
		}
		&__text{
			width: initial;
			text-align: center;
			margin: 0;
		}
		&__action{
			text-align: center;
			.header-block__slide01{	margin: 0 10px 0 0; }
			.header-block__slide02{	margin: 0 0 0 10px; }
			.header-block__arrow{ display: none; }
		}
		&__portfolio {
			margin-bottom: 149px;
			text-align: center;
			a{ display: initial; }
		}
		.order-12 { order: 12; }
		.order-2 { order: 2; }
	}
	/* header block end */
	/* Marketing Block start */
	.marketing-block{
		padding-left: 0;
		&__title{ margin: 60px 0 39px;
			h2{
				font-size: 2.25rem;
				line-height: 120%;
			}
		}
		&__content{
			margin: 0 0 60px;
			.content-list{ padding: 0; }
		}
	}
	/* Marketing Block end */
	/* Portfolio Block start */
	.portfolio-block{
		margin-bottom: 0;
		&__01,
		&__02,
		&__03{
			padding: 60px 0 88px;
		}
	}
	/* Portfolio Block end */
	/* Request Block start */
	.dark-text.request-block{
		padding: 60px 0 88px;
		border-bottom: 1px solid $light-gray-color;
		.request-block__form{ padding-bottom: 0; }
		.form-sendbtn{
			width: 100%;
			display: inline-block;
			align-items: unset;
		}
	}
	/* Request Block end */
}
@media screen and (min-width: 480px) and (max-width: 767px) {
	/* header block start */
	.header-block{
		padding-bottom: 46px;
		.container { padding: 0 16px; }
		&__title {
			text-align: center;
			margin: 160px 0 0;
			h1 {
				font: 2.25rem $RalewayBold;
				text-transform: initial;
				line-height: 66px;
			}
		}
		&__content {
			margin: 36px 0 56px;
			img { display: none; }
		}
		&__text{
			width: initial;
			text-align: center;
			margin: 0;
		}
		&__action{
			text-align: center;
			.header-block__slide01{	margin: 0 10px 0 0; }
			.header-block__slide02{	margin: 0 0 0 10px; }
			.header-block__arrow{ display: none; }
		}
		&__portfolio {
			margin-bottom: 149px;
			text-align: center;
			a{ display: initial; }
		}
		.order-12 { order: 12; }
		.order-2 { order: 2; }
	}
	/* header block end */
	/* Marketing Block start */
	.marketing-block{
		padding-left: 0;
		.container { padding: 0 16px; }
		&__title{ margin: 60px 0 39px;
			h2{
				font-size: 2.25rem;
				line-height: 120%;
			}
		}
		&__content{
			margin: 0 0 60px;
			.content-list{ padding: 0; }
		}
	}
	/* Marketing Block end */
	/* Portfolio Block start */
	.portfolio-block{
		&__01,
		&__02,
		&__03{ padding: 88px 0 97px; }
	}
	/* Portfolio Block end */
	/* Request Block start */
	.dark-text.request-block{
		padding-left: 0;
		.container { padding: 0 16px; }
	}
	/* Request Block end */
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	/* header block start */
	.header-block{
		.container {
			padding-left: 145px;
			margin: 0;
		}
		&__title {
			h1 {
				font: 3.5rem $RalewayBold;
				text-transform: initial;
				line-height: 66px;
			}
		}
		&__content {
			margin: 56px 0 0;
			img { display: none; }
		}
		&__portfolio { margin-bottom: 56px; }
		.order-12 { order: 12; }
		.order-2 { order: 2; }
	}
	/* header block end */
	/* Marketing Block start */
	.marketing-block{
		.container{
			padding: 0;
			margin: 0;
		}
		padding-left: 145px;
		&__title{ margin: 60px 0 39px;
			h2{
				font-size: 2.25rem;
				line-height: 120%;
			}
		}
		&__content{
			margin: 0 0 60px;
			.content-list{ padding: 0; }
		}
	}
	/* Marketing Block end */
	/* Portfolio Block start */
	.portfolio-block{
		.container{
			padding: 0;
			margin: 0;
		}
		&__01,
		&__02,
		&__03{ padding-left: 145px; }
	}
	/* Portfolio Block end */
	/* Request Block start */
	.dark-text.request-block{
		padding-left: 145px;
		.container{
			padding: 0;
			margin: 0;
		}
	}
	/* Request Block end */
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	/* header block start */
	.header-block{
		&__title{
			margin: 320px 0 0 45px;
			h1{
				font: 5rem Raleway-Bold; }
		}
		&__action{ margin-left: 45px; }
	}
	/* header block end */
	/* Marketing Block start */
	.marketing-block{
		&__title{ margin: 125px 0 }
	}
	/* Marketing Block end */
	.pl-58{ padding-left: 58px; }
	.ml-45{ margin-left: 45px; }
	/* Request Block start */
	.dark-text .request-block{
		&__content{ margin-left: 45px; }
		&__form{ margin-left: 45px; }
	}
	/* Request Block end */
}
@media screen and (min-width: 1200px) and (max-width: 1359px) {
	/* header block start */
	.header-block{
		&__title{ margin: 320px 0 0 45px; }
		&__action{ margin-left: 45px; }
	}
	/* header block end */
	.pl-58{ padding-left: 58px; }
	.ml-45{ margin-left: 45px; }
	/* Request Block start */
	.dark-text .request-block{
		&__content{ margin-left: 45px; }
		&__form{ margin-left: 45px; }
	}
	/* Request Block end */
}
