@media screen and (min-width: 320px) and (max-width: 479px) {
	/* Service Content Block start */
	.service-content__dscrpt{ padding: 0 35px 60px; }
	/* Service Content Block end */
}
@media screen and (min-width: 480px) and (max-width: 767px) {
	.p-md-0.container{
		padding: 0; }
	/* Service Content Block start */
	.service-content{ margin: 0 40px; }
	/* Service Content Block end */
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	/* Service Header Block start */
	.service-header{ margin: 0 45px; }
	/* Service Header Block end */
	/* Service Content Block start */
	.service-content{
		display: flex;
		align-items: baseline;
		margin: 0 65px;
	}
	/* Service Content Block end */
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	/* Service Content Block start */
	.service-content{
		display: flex;
		align-items: baseline;
	}
	/* Service Content Block end */
}